In [1]:
# Define dependencies
import pandas as pd
import os

# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Text, Date, ForeignKey

In [2]:
# remove hawaii.sqlite if it exists to ensure a fresh start
try:
    os.remove('hawaii.sqlite')
except OSError:
    pass

In [3]:
# read in measurement csv & repurpose index column as a unique id column
meas = pd.read_csv("clean_measurements.csv")
meas = meas.reset_index()
meas.columns = ['id', 'station', 'date', 'prcp', 'tobs']
print(meas.head())

   id      station        date  prcp  tobs
0   0  USC00519397  2010-01-01  0.08    65
1   1  USC00519397  2010-01-02  0.00    63
2   2  USC00519397  2010-01-03  0.00    74
3   3  USC00519397  2010-01-04  0.00    76
4   4  USC00519397  2010-01-07  0.06    70

In [4]:
# convert date column to datetime dtype
meas['date'] = pd.to_datetime(meas['date'], format = '%Y-%m-%d')
print(meas.head())
print(meas.dtypes)

   id      station       date  prcp  tobs
0   0  USC00519397 2010-01-01  0.08    65
1   1  USC00519397 2010-01-02  0.00    63
2   2  USC00519397 2010-01-03  0.00    74
3   3  USC00519397 2010-01-04  0.00    76
4   4  USC00519397 2010-01-07  0.06    70
id                  int64
station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [5]:
# read in stations csv
stn = pd.read_csv("clean_stations.csv")
# rename column
stn.columns = ['station_id', 'name', 'latitude', 'longitude', 'elevation']

In [6]:
# Create the Measurement class
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key = True)
    station = Column(String(25), ForeignKey('stations.station_id'))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)

In [7]:
# Create the Station class
class Stations(Base):
    __tablename__ = 'stations'
    station_id = Column(String(25), primary_key = True)
    name = Column(String(100))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [8]:
# Create a connection to a SQLite database
engine = create_engine("sqlite:///hawaii.sqlite")

conn = engine.connect()

# Create the tables within the database
Base.metadata.create_all(conn)

In [9]:
# insert stn df into stations table
stn.to_sql('stations', engine, if_exists='append', index=False)

In [11]:
# Select records from station table to check insert
conn.execute("select * from stations limit 10").fetchall()

[('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 ('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 ('USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 ('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [12]:
# insert meas df into measurement table
meas.to_sql('measurement', engine, if_exists='append', index=False)

In [13]:
# Select records from measurement table to check insert 
conn.execute("select * from measurement limit 10").fetchall()

[(0, 'USC00519397', '2010-01-01 00:00:00.000000', 0.08, 65),
 (1, 'USC00519397', '2010-01-02 00:00:00.000000', 0.0, 63),
 (2, 'USC00519397', '2010-01-03 00:00:00.000000', 0.0, 74),
 (3, 'USC00519397', '2010-01-04 00:00:00.000000', 0.0, 76),
 (4, 'USC00519397', '2010-01-07 00:00:00.000000', 0.06, 70),
 (5, 'USC00519397', '2010-01-08 00:00:00.000000', 0.0, 64),
 (6, 'USC00519397', '2010-01-09 00:00:00.000000', 0.0, 68),
 (7, 'USC00519397', '2010-01-10 00:00:00.000000', 0.0, 73),
 (8, 'USC00519397', '2010-01-11 00:00:00.000000', 0.01, 64),
 (9, 'USC00519397', '2010-01-12 00:00:00.000000', 0.0, 61)]